<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.rt.hightec.agent.launcher.launchConfigurationType">
    <stringAttribute key="ACC_HW" value="DAS JDS AURIX LITE KIT V1.0 (TC334) LK6ISP3F"/>
    <booleanAttribute key="ENABLE_AGENTLOG" value="false"/>
    <booleanAttribute key="ENABLE_FLASHING" value="true"/>
    <booleanAttribute key="ENABLE_STOPPING" value="true"/>
    <stringAttribute key="EXECUTABLE_PATH" value="${workspace_loc}/TLE5502_AurixCalibOneTime/TriCore Debug (TASKING)/TLE5502_AurixCalibOneTime.elf"/>
    <stringAttribute key="STOP_FUNCTION" value="core0_main"/>
    <stringAttribute key="SVD" value="C:/Infineon/AURIX-Studio-1.10.24/build_system/bundled-artefacts-repo/svd/tc33xpd/1.0-1/device.svd"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="TLE5502_AurixCalibOneTime"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/TLE5502_AurixCalibOneTime"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.debug.ui.ATTR_LOCATION" value="/TLE5502_AurixCalibOneTime/TLE5502_AurixCalibOneTime TriCore Debug (TASKING).launch"/>
    <stringAttribute key="org.eclipse.debug.ui.ATTR_PROJECT_NAME" value="TLE5502_AurixCalibOneTime"/>
    <booleanAttribute key="org.eclipse.debug.ui.ATTR_SHARED" value="true"/>
    <stringAttribute key="org.eclipse.tcf.debug.MemoryMap" value="[{&quot;FileName&quot;:&quot;C:/Users/Macovei/AURIX-v1.10.24-workspace/TLE5502_AurixCalibOneTime/TriCore Debug (TASKING)/TLE5502_AurixCalibOneTime.elf&quot;,&quot;ID&quot;:&quot;/DAS JDS AURIX LITE KIT V1.0 (TC334) LK6ISP3F/Core 0: CPU0 TriCore 1.6P&quot;,&quot;Flags&quot;:0,&quot;UUID&quot;:&quot;bcb0d2bd-9192-4656-8df9-43279068c7cb&quot;},{&quot;FileName&quot;:&quot;C:/Users/Macovei/AURIX-v1.10.24-workspace/TLE5502_AurixCalibOneTime/TriCore Debug (TASKING)/TLE5502_AurixCalibOneTime.elf&quot;,&quot;ID&quot;:&quot;/DAS JDS AURIX LITE KIT V1.0 (TC334) LK6ISP3F/Core 0: CPU0 TriCore 1.6P&quot;,&quot;Flags&quot;:0,&quot;UUID&quot;:&quot;e0bc39ef-24e6-4352-8bdd-6c36217802ac&quot;}]"/>
    <stringAttribute key="org.eclipse.tcf.debug.PeerID" value="TCP:127.0.0.1:1534"/>
    <stringAttribute key="org.eclipse.tcf.debug.ProjectName" value="TLE5502_AurixCalibOneTime"/>
    <booleanAttribute key="org.eclipse.tcf.debug.RunLocalAgent" value="false"/>
    <booleanAttribute key="org.eclipse.tcf.debug.RunLocalServer" value="false"/>
    <booleanAttribute key="org.eclipse.tcf.debug.UseLocalAgent" value="false"/>
    <stringAttribute key="org.eclipse.tcf.debug.executable_name" value="${workspace_loc}/TLE5502_AurixCalibOneTime/TriCore Debug (TASKING)/TLE5502_AurixCalibOneTime.elf"/>
    <stringAttribute key="sessionID" value="d678500d-c9b8-46ae-a4c9-eb167dc114da"/>
</launchConfiguration>
